.DS_Store
.vscode
.virtual_documents
*.swp
__pycache__/
*.mat
*.asv
# OSX / *nix default autosave extension
*.m~
# Compiled MEX binaries (all platforms)
*.mex*
# Packaged app and toolbox files
*.mlappinstall
*.mltbx
# Matlab code generation folders
codegen/
# Jupyter
*.ipynb_checkpoints
# latex
*.aux
*.log
*.gz
*.pdf
